<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>battlechess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>bchess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>bchess2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10580AD1192419E2003A55B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10580AF0192419E2003A55B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D671091924162800439855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D671321924162900439855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D6714B1924165400439855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D6716D1924165400439855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D671851924170C00439855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D671A71924170C00439855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D671BF1924172C00439855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D671E11924172D00439855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D82160192417B200CE35EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D8217F192417B200CE35EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D821971924184600CE35EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D821B91924184600CE35EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41851B9115B93C32004083E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
