<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bb.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,472},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{40,39}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>blank.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,421},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>board.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{420,420}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{420,420}}</string>
			<key>sourceSize</key>
			<string>{420,420}</string>
		</dict>
		<key>bw.png</key>
		<dict>
			<key>frame</key>
			<string>{{41,472},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{40,39}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,421},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>close.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,472},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{14,14}}</string>
			<key>sourceSize</key>
			<string>{25,22}</string>
		</dict>
		<key>kb.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,42},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{40,40}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>kw.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,136},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{40,40}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>music.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,83},{40,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,5},{40,52}}</string>
			<key>sourceSize</key>
			<string>{59,65}</string>
		</dict>
		<key>nb.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,472},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{39,39}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>new_game.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,421},{156,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,50}}</string>
			<key>sourceSize</key>
			<string>{156,50}</string>
		</dict>
		<key>nw.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,472},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{39,39}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>pb.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,472},{29,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,9},{29,36}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>pw.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,472},{29,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,9},{29,36}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>qb.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,0},{44,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{44,41}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>qw.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,471},{44,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{44,40}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>rb.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,472},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,9},{32,36}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>replay.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,421},{156,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,50}}</string>
			<key>sourceSize</key>
			<string>{156,50}</string>
		</dict>
		<key>rw.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,472},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,9},{32,36}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>battlechessSprites.png</string>
	</dict>
</dict>
</plist>
