<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb_hd</key>
            <dict>
                <key>frame</key>
                <string>{{258,424},{40,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>blank_hd</key>
            <dict>
                <key>frame</key>
                <string>{{424,318},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>board_hd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>bw_hd</key>
            <dict>
                <key>frame</key>
                <string>{{216,424},{40,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>kb_hd</key>
            <dict>
                <key>frame</key>
                <string>{{174,424},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>kw_hd</key>
            <dict>
                <key>frame</key>
                <string>{{132,424},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>nb_hd</key>
            <dict>
                <key>frame</key>
                <string>{{90,424},{40,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>new_game_hd</key>
            <dict>
                <key>frame</key>
                <string>{{424,160},{156,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,50}}</string>
                <key>sourceSize</key>
                <string>{156,50}</string>
            </dict>
            <key>nw_hd</key>
            <dict>
                <key>frame</key>
                <string>{{48,424},{40,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pb_hd</key>
            <dict>
                <key>frame</key>
                <string>{{400,424},{30,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{30,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pw_hd</key>
            <dict>
                <key>frame</key>
                <string>{{368,424},{30,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{30,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>qb_hd</key>
            <dict>
                <key>frame</key>
                <string>{{432,369},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{44,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>qw_hd</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{44,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>rb_hd</key>
            <dict>
                <key>frame</key>
                <string>{{334,424},{32,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{32,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>replay_hd</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{156,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,50}}</string>
                <key>sourceSize</key>
                <string>{156,50}</string>
            </dict>
            <key>rw_hd</key>
            <dict>
                <key>frame</key>
                <string>{{300,424},{32,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{32,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battlechess_sprites_hd.png</string>
            <key>size</key>
            <string>{476,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3e30ec28555b01c3ef5df17fc447e9d:474b772786ea7595d16bff464cb03c01:a5cb0d685b00a53f0e4d5ce2b4aecbe9$</string>
            <key>textureFileName</key>
            <string>battlechess_sprites_hd.png</string>
        </dict>
    </dict>
</plist>
